# For the app
###############################
# Discord bot token goes here.
BOT_TOKEN="token_here"
# Allowlist of which guilds to sync the commands to.
GUILD_IDS='1234,4567'
# Defines which roles are permitted to approve certain actions.
PRIVILEGED_ROLES='role1,role2'
DB_USER="root"
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_PASSWORD="example"
DEFAULT_DB="bingo-dataset"

# For Github Pull Requests
###############################
# Local path to the forked git repo
LOCAL_REPO_PATH="/tmp/firestorm-bingo"
FORKED_REPO_NAME="username/repo-name"
# Upstream/Base bingo repo.
BINGO_REPO_NAME="FireStormShipping/firestorm-bingo"
# Github token to authenticate against Github API
GITHUB_TOKEN="example"

# For the DB container
###############################
MARIADB_ROOT_PASSWORD=$DB_PASSWORD
MARIADB_DATABASE=$DEFAULT_DB