networks:
  app:
    driver: bridge

services:
  discord-bot:
    container_name: 'discord-bot'
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '50m'
    networks:
      - app

  mariadb:
    container_name: 'mariadb'
    image: mariadb:11.8
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./db:/var/lib/mysql
    expose:
      - 3306
    ports:
      - 3306:3306
    logging:
      driver: 'json-file'
      options:
        max-file: '5'
        max-size: '50m'
    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u root -p$MARIADB_ROOT_PASSWORD"]
      interval: 60s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - app